<div class="row">
    <div class="col-lg-4">
        <label class="col-form-label-lg">內容:</label>
        <input id="txtContent" type="text" class="form-control"/>
        <br />
        <button class="btn btn-warning" onclick="AnalyzeText()">發送</button>
    </div>
</div>

@section Scripts{
    <script>
        var Endpoint = "https://msit141-03-luis.cognitiveservices.azure.com";
        var AppId = "aa8db9b8-a5ad-4ab8-956d-3a8b8a40ef13";
        var Key = "effd11f724324528993a0e568341b254";

        function AnalyzeText() {
            var Content = $("#txtContent").val();
            var Url = `${Endpoint}/luis/prediction/v3.0/apps/${AppId}/slots/production/predict?
                        verbose=true&show-all-intents=true&log=true&subscription-key=${Key}&query=${Content}`;

            $.getJSON(Url, function (data) {
                var Intent = data["prediction"]["topIntent"];
                var Confidence = data["prediction"]["intents"][Intent]["score"];

                var UserIntent = `意向: ${Intent}, 信心指數: ${(Confidence * 100).toFixed(2)}%`;
                alert(UserIntent);
            });
        }
    </script>
}