<div class="container">
    <label class="control-label">圖形檔案:</label>
    <input id="imageFile" type="file" class="form-control" />
    <img id="imgPreview" src="~/Images/no-image.png" style="max-width:800px;max-height:600px" />
    <br />
    <button class="btn btn-success" onclick="analyzeImage()">辨識</button>
</div>
@section Scripts{
    <script>
        document.querySelector("#imageFile").addEventListener("change", function () {
            var reader = new FileReader();
            reader.onload = function () {
                arrayBuffer = this.result;
                var arrayBufferView = new Uint8Array(arrayBuffer);
                var blob = new Blob([arrayBufferView], { type: "image/jpg" }); // Blob: 大型二進位物件
                var urlCreator = window.URL || window.webkitURL; // 為了不同的瀏覽器相容器
                var url = urlCreator.createObjectURL(blob);
                $("#imgPreview").attr("src", url);
            };
            reader.readAsArrayBuffer(this.files[0]);
        }, false);

        function analyzeImage() {
            //$("#imgPreview").attr("src", $("#imageUrl").val());
            //=================================================
            var params = {
                // Request parameters
                "visualFeatures": "Categories,Description",
                "details": "Landmarks",
                "language": "en",
                "model-version": "latest",
            };

            $.ajax({
                url: "https://msit141-03-vision.cognitiveservices.azure.com/vision/v3.2/analyze?" + $.param(params),
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "application/octet-stream");
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "c3b95ede298c455e80f20aa99e972245");
                },
                type: "POST",
                processData: false,
                // Request body
                data: arrayBuffer
            })
                .done(function (data) {
                    //alert(JSON.stringify(data));
                    // string landmark = jResult["categories"][0]["detail"]["landmarks"][0]["name"].ToString();
                    //double confidence1 = Convert.ToDouble(jResult["categories"][0]["detail"]["landmarks"][0]["confidence"]);
                    var landmark = data.categories[0].detail.landmarks[0].name;
                    var confidence = data['categories'][0]['detail']['landmarks'][0]['confidence'];
                    alert(`內容: ${landmark}, 信心指數: ${(confidence * 100).toFixed(2)}%`);
                })
                .fail(function (err) {
                    alert(err.responseText);
                });
        }


//$("#imageFile").change(function () {
//    readArrayBuffer(this);
//});

//function readArrayBuffer(input) {
//    var arrayBuffer = null;
//    var reader = new FileReader();
//    reader.onload = function () {
//        arrayBuffer = input.result;
//        var arrayBufferView = new Uint8Array(arrayBuffer);
//        var blob = new Blob([arrayBufferView], { type: "image/jpg" }); // Blob: 大型二進位物件
//        var urlCreator = window.URL || window.webkitURL;
//        var url = urlCreator.createObjectURL(blob);
//        $("#imgPreview").attr("src", url);
//    };
//    reader.readAsArrayBuffer(input.files[0]);
//}



    </script>
}
